[submodule "studies/toy"]
	path = studies/toy
	url = ./studies/toy
	datalad-id = 2d982b94-44a2-49ba-bfcd-97966084b025
[submodule "envs/containers/repronim"]
	datalad-url = https://github.com/ReproNim/containers.git
	path = envs/containers/repronim
	url = https://github.com/ReproNim/containers.git
[submodule "envs/containers/accepted"]
	path = envs/containers/accepted
	url = ./envs/containers/accepted
	datalad-id = 8320f911-d110-4c82-b95b-285244cbae13
