[submodule "studies/toy"]
	path = studies/toy
	url = https://github.com/con/STAMPED-dl_morphometrics_biases-studies-toy.git
	datalad-id = 2d982b94-44a2-49ba-bfcd-97966084b025
	datalad-url = https://github.com/con/STAMPED-dl_morphometrics_biases-studies-toy.git
[submodule "envs/containers/repronim"]
	datalad-url = https://github.com/ReproNim/containers.git
	path = envs/containers/repronim
	url = https://github.com/ReproNim/containers.git
[submodule "envs/containers/accepted"]
	path = envs/containers/accepted
	url = https://github.com/con/STAMPED-dl_morphometrics_biases-accepted-containers.git
	datalad-id = 8320f911-d110-4c82-b95b-285244cbae13
	datalad-url = https://github.com/con/STAMPED-dl_morphometrics_biases-accepted-containers.git
